---
title: 'St Peters Community Preschool'
---
<!DOCTYPE html>
<html>
<head>
  <title>{{page.title}}</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='alternate' type='application/rss+xml' title='RSS' href='http://st-peters-001.github.io/blog.rss' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <link href='{{site.baseurl}}/site.css' rel='stylesheet' />
</head>
<body>
  <div class='container'>
    <div class='col12 clearfix'>
      <div class='header col6 margin3 pad4h'>

          <a href="{{site.baseurl}}/" alt="logo"><img class="col3"src="{{site.baseurl}}/img/logo.jpg"></img>
          <h1 class='col8 pad4h heading'><a href='{{site.baseurl}}/'>{{page.title}}</a></h1>

        <div class='clearfix col12'>
          <div class='menu fl'>
            <a class='{% if page.url == "about-us/" %}active{% endif %}' href='{{site.baseurl}}/'>About Us</a>
            <a class='{% if page.url == "info/" %}active{% endif %}' href='{{site.baseurl}}/info'>Info</a>
            <a class='{% if page.url == "contact/" %}active{% endif %}' href='{{site.baseurl}}/contact'>Contact</a>
            <a class='{% if page.section == "blog" %}active{% endif %}' href='{{site.baseurl}}/news'>News</a>
          </div>

      </div>
  </div>

  {{content}}

</div>

</div>


  <script src='{{site.baseurl}}/site.js'></script>
</body>
